{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add/Delete Food {% endblock %}</h1>
    <p> Add or delete a food to the food database.</p>

    <form action="/addfood" method = "POST">
    	<p>For Adding</p>
    	<p>Food Name<input type="text" name="foodname"/></p>
    	<p>Serving Size<input type="text" name="serving1"/></p>
    	<p>Serving in Grams<input type="text" name="serving2"/></p>
    	<p>Calories per Serving<input type="text" name="calories1"/></p>
    	<p><input type="submit" value="Add Food" class="btn btn-secondary"></p>
    </form> 

    <form action="/deletefood" method = "POST">
    	<p>For Deleting</p>
    	<p>Food Name<input type="text" name="foodnamedel"/></p>
    	<p><input type="submit" value="Delete Food" class="btn btn-secondary"></p>
    </form>

{% endblock %}	

