{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Add Food {% endblock %}</h1>
    <p> Add a food to the food database.</p>

    <form action="/addfood" method = "POST">
    	<p>Food Name<input type="text" name="foodname"/></p>
    	<p>Serving Size<input type="text" name="serving1"/></p>
    	<p>Serving in Grams<input type="text" name="serving2"/></p>
    	<p>Calories per Serving<input type="text" name="calories1"/></p>
    	<p><input type="submit" value="Add Food" class="btn btn-secondary"></p>
    </form> 

{% endblock %}	

