{% extends 'base.html' %}

{% block content %}
    <div class="w3-center">
    <h1>{% block title %} Calculate Calories {% endblock %}</h1>
    <p> Calculate the calories for a given food serving.</p>
</div>
    <div class="w3-container">
    <div class="w3-center">

        <form action="/calccal" method = "POST">
        <p>Food Name<input type="text" name="foodname"/></p>
        <p>My Serving<input type="text" name="myserving"/></p>
        <input type="submit" class="w3-button w3-theme" value="Calculate Calories"></a>
    </form> 
    <p></p>
        <form action="/calcclear" method = "POST">
        <input type="submit" value="Clear Calculations" class="w3-button w3-theme">
    </form>


</div></div>



    <div class="w3-container">
    <div class="w3-center">

	<p>Total Calories: {{ mytotalcalories }}</p>

</div></div>


    <div class="w3-responsive w3-card-4">
    <table class="w3-table w3-striped w3-bordered">
    	<thead>
            <tr class="w3-theme">
    		<th>Food</th>
    		<th>Serving Size</th>
    		<th>Serving Size in Grams</th>
    		<th>Calories per Serving</th>
            <th>My Serving</th>
            <th>Calories</th>
    	</thead>
        <tbody>
    	{% for row in calorielog %}
    <tr class="w3-white"> 
    	<td>{{ row[0]}}</td>
    	<td>{{ row[1]}}</td>
    	<td>{{ row[2]}}</td>
    	<td>{{ row[3]}}</td>
        <td>{{ row[4]}}</td>
        <td>{{ row[5]}}</td>
    </tr>
        {% endfor %}
        </tbody>
    </table>

<br>
{% endblock %}	

