{% extends 'base.html' %}

{% block content %}
	<div class="w3-container">
		<div class="w3-center">
    <h1>{% block title %} Delete Food {% endblock %}</h1>
    <p> Delete a food from the food database using its name.</p>
</div></div>

<div class="w3-container">
		<div class="w3-center">
    <form action="/deletefood" method = "POST">
    	<p>Food Name<input type="text" name="foodnamedel"/></p>
    	<input type="submit" value="Delete Food" class="w3-button w3-theme"></a>
    </form>
   </div></div>
<br>
{% endblock %}	

