{% extends 'base.html' %}

{% block content %}

    <div class="w3-center">
    <h1>{% block title %} Diary {% endblock %}</h1>
    <p> View the diary database.</p>
</div>
    
    <div class="w3-container">
    <div class="w3-center">
    <a href ="/adddiarylog" method="POST" class="w3-button w3-theme">Add Diary Log</a>
    <a href ="/updatediarylog" method="POST" class="w3-button w3-theme">Update Diary Log</a>
    <a href ="/deletediarylog" method="POST" class="w3-button w3-theme">Delete Diary Log</a>
</div></div>

    <p></p><p></p>

   <div class="w3-responsive w3-card-4">
<table class="w3-table w3-striped w3-bordered">
    	<thead>
            <tr class="w3-theme">
    		<th>Date</th>
    		<th>Weight</th>
    		<th>Exercised?</th>
    		<th>Overate?</th>
    		<th>Breakfast</th>
    		<th>Calories</th>
    		<th>Lunch</th>
    		<th>Calories</th>
    		<th>Dinner</th>
    		<th>Calories</th>
    		<th>Snack 1</th>
    		<th>Calories</th>
    		<th>Snack 2</th>
    		<th>Calories</th>
    		<th>Snack 3</th>
    		<th>Calories</th>
    		<th>Snack 4</th>
    		<th>Calories</th>
    		<th>Snack 5</th>
    		<th>Calories</th>
    		<th>Snack 6</th>
    		<th>Calories</th>
            <th>Total Calories</th>
        </tr>

    	</thead>
        <tbody>
    	{% for row in diary %}
    <tr class="w3-white">
    	<td>{{ row[0]}}</td>
    	<td>{{ row[1]}}</td>
    	<td>{{ row[2]}}</td>
    	<td>{{ row[3]}}</td>    	
    	<td>{{ row[4]}}</td>
    	<td>{{ row[5]}}</td>
    	<td>{{ row[6]}}</td>
    	<td>{{ row[7]}}</td>    	
    	<td>{{ row[8]}}</td>
    	<td>{{ row[9]}}</td>
    	<td>{{ row[10]}}</td>
    	<td>{{ row[11]}}</td>    	
    	<td>{{ row[12]}}</td>
    	<td>{{ row[13]}}</td>
    	<td>{{ row[14]}}</td>
    	<td>{{ row[15]}}</td>    	
    	<td>{{ row[16]}}</td>
    	<td>{{ row[17]}}</td>
    	<td>{{ row[18]}}</td>
    	<td>{{ row[19]}}</td>
    	<td>{{ row[20]}}</td>    	
    	<td>{{ row[21]}}</td>    	
    	<td>{{ row[22]}}</td>  
        <td>{{ row[23]}}</td>  	
    </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


<br>


{% endblock %}	

