{% extends 'base.html' %}

{% block content %}
    <div class="w3-center">
    <h1>{% block title %} Food {% endblock %}</h1>
    <p> This database lists food items, their serving sizes (with the option in grams), and their calorie counts.</p>
</div>
    <div class="w3-container">
    <div class="w3-center">
    <a href ="/addfood" method="POST" class="w3-button w3-theme">Add Food</a>
    <a href ="/deletefood" method="POST" class="w3-button w3-theme">Delete Food</a>
    <a href ="/calccal" method="POST" class="w3-button w3-theme">Calculate Calories</a>
</div></div>

    <p></p><p></p>

<div class="w3-responsive w3-card-4">
<table class="w3-table w3-striped w3-bordered">
    	<thead>
            <tr class="w3-theme">
    		<th>Food</th>
    		<th>Serving Size</th>
    		<th>Serving Size in Grams</th>
    		<th>Calories per Serving</th>
        </tr>
    	</thead>
        <tbody>
    	{% for row in calorielog %}
    <tr class="w3-white"> 
    	<td>{{ row[0]}}</td>
    	<td>{{ row[1]}}</td>
    	<td>{{ row[2]}}</td>
    	<td>{{ row[3]}}</td>
    </tr>
        {% endfor %}
        </tbody>

    </table>    
</div>



<br>

{% endblock %}	

